@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

html, body{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

h1{
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    cursor: pointer;
    margin-top: 5rem;
}
.choice:hover{
    background-color: #081b31;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}

#msg{
    display: inline;
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}